.candidateHeroText{
	font-family: 'Patua One', cursive;
	color: #FFFFFF;
	font-size: 42px;
	line-height: 48px;
	padding-top: 124px;
}

.candidateTitle{
	font-family: 'Patua One';
	color: #293B74;
	font-size: 24px;
	line-height: 30px;
	height: 100px;
	padding-top: 24px;
	padding-bottom: 24px;	
}

.candidateText {
	color: #293B74;
	font-size: 16px;
	line-height: 24px;
	font-family: 'Open Sans', sans-serif;
}

	.dumbImage{
		width: 	100%;
		/*height: 360px;*/
		background-color: grey;
	}

.safeText{
	font-family: 'Barlow Semi Condensed', sans-serif;
	font-size: 19px;
	line-height: 24px;
	color: #293B74;
	padding-bottom: 15px;
	text-decoration: underline;
	text-decoration-color:  #293B74;
	text-transform: uppercase;
}

@media (max-width: 767px){
	.podium {
		width: 100%;
	}

	.rightGutterMobile{
		padding-right: 22px;
	}

	.howWeDoIt {
		min-height: 720px;
	}

}


@media (min-width: 768px){
	.podium {
		width: 100%;
		/*padding-top: 112px;*/

		position: absolute !important;
    	bottom: 0 !important;
	}

	.podiumPadding{
		padding-bottom: 75px;
	}
}

@media (min-width: 992px) {
	.podium {
		width: 400px;
		/*padding-top: 112px;*/
		margin-left: 20%;
		position: absolute !important;
    	bottom: 0 !important;
	}

	.podiumText {
		min-height: 576px !important;
	}

	.podiumPadding{
		padding-bottom: 50px;
	}

}