input[type="file"] {
    display: none;
}

.custom-file-upload {
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    background-color: #355ABC;
    color: #FFFFFF;
	  font-family: "Open Sans";
	  font-size: 12px;
	  font-weight: bold;
	  letter-spacing: 0;
	  line-height: 24px;
	  text-align: center;
	    	width: 85px;
	    	margin-bottom: 0 !important;
}

.uploadBox {
	border: 1px solid #DBDBDB;
  	border-radius: 5px;
  	padding-top: 16px;
  	padding-bottom: 16px;
  	padding-left: 12px;
  	margin-top: 15px;
}

.file{
	color: #293B74;
  font-family: "Open Sans";
  font-size: 12px;
  letter-spacing: 0;
  line-height: 24px;
  padding-left: 15px;
}

.backgroundHero {
	background-image: url('../images/Hero@2x.jpg');
	background-size: auto 100%;
	background-repeat: no-repeat; 
	background-position: center center;
	background-color: 	#293B74;
	margin: 0;
}

.donateButton3{

}

.box{
	background-color: 	green;
	width: 	100px;
	height: 100px;
	top:50px;
}

.notthistime{

}

.claimTitle {
	color: #FFFFFF;
  font-family: "Patua One";
  font-size: 42px;
  letter-spacing: 0;
  line-height: 48px;
}